body {
  background: #eee;
  font-family: sans-serif;
}

.title, .content, .button-container {
  font-size: 16px;
  padding: 8px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 60px auto;
  border: 10px solid #fff;
}

.title {
  background: #e3f4ff;
  margin: 8px left;
}

.content {
  background: #e3f4ff;
  margin: 8px auto;
}

.button-container {
  background: #e3f4ff;
  margin: 8px center;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px;
  display: block;
  margin: auto;
}